.team-heading {
background-color: #41C4F2;
color: white;
}

.card-header {
background-color: #41C4F2;
color: white;

}
.employee-card {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;

}