.team-heading {
background-color: #41C4F2;
color: white;
}

.card-header {
background-color: #41C4F2;
color: white;

}
.employee-card {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;
    -webkit-box-shadow: 2px 2px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 2px 4px 3px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 2px 4px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}